@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p,
h2,
h3,
h4,
button,
a {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

body {
  margin: auto;
  max-width: 1900px;
}

h1 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
  padding-left: 10px;
}

h4::after {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #99e2d0;
}

p {
  font-size: 1em;
}

@-webkit-keyframes checked-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes checked-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes menu-slide-down {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes menu-slide-down {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spinner {
  0% {
    opacity: 1;
    z-index: 20;
  }
  55% {
    opacity: 1;
  }
  70% {
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes spinner {
  0% {
    opacity: 1;
    z-index: 20;
  }
  55% {
    opacity: 1;
  }
  70% {
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes loader_point {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
  }
  70% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
  }
}

@keyframes loader_point {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
  }
  70% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
  }
}

@-webkit-keyframes scroll-none {
  from {
    overflow: hidden;
  }
  to {
    overflow: scroll;
  }
}

@keyframes scroll-none {
  from {
    overflow: hidden;
  }
  to {
    overflow: scroll;
  }
}

body {
  position: relative;
  -webkit-animation: scroll-none 7500ms;
          animation: scroll-none 7500ms;
}

body .loader {
  z-index: -10;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-animation: spinner 4500ms ease-in-out;
          animation: spinner 4500ms ease-in-out;
  opacity: 0;
  -o-animation-fill-mode: both;
}

body .loader .container_point {
  width: 30%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .loader .container_point :nth-child(1) {
  background: #9356dc;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

body .loader .container_point :nth-child(2) {
  background: #ff79da;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

body .loader .container_point :nth-child(3) {
  background: #99e2d0;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

body .loader .container_point .point {
  width: 50px;
  height: 50px;
  border: 0px solid;
  border-radius: 50%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-animation-name: loader_point;
          animation-name: loader_point;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  opacity: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.logo img {
  width: 50%;
}

.location {
  background: #d4cece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.location .fas {
  padding: 0 12px;
}

.location p {
  font-size: 1.2em;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 280px;
  background: #f1edec;
}

.presentation .catchword {
  height: 70px;
  font-size: 1.7em;
  text-align: center;
  padding-top: 40px;
  font-weight: 900;
}

.presentation .catchword_description {
  font-size: 1.4em;
  font-weight: 200;
  padding-bottom: 30px;
  text-align: center;
}

.presentation button {
  background-image: linear-gradient(60deg, #9356dc, #ff79da);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
  width: 220px;
  margin-bottom: 50px;
  border-radius: 1.5em;
  color: whitesmoke;
  border: transparent;
  font-size: 16px;
}

.operation {
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
}

.operation h2 {
  font-size: 1.8em;
  margin: 25px;
}

.operation .order_operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.operation .order_operation button {
  width: 80%;
  height: 60px;
  border-radius: 1.5em;
  border: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 50px;
  font-size: 1.2em;
  -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
          box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
  position: relative;
}

.operation .order_operation button .fas {
  padding: 0 10px;
}

.operation .order_operation .step_1::before {
  content: "1";
  position: absolute;
  height: 20px;
  width: 20px;
  left: -3px;
  color: white;
  border-radius: 2em;
  background-color: #9356dc;
}

.operation .order_operation .step_2::before {
  content: "2";
  position: absolute;
  height: 20px;
  width: 20px;
  left: -3px;
  color: white;
  border-radius: 2em;
  background-color: #9356dc;
}

.operation .order_operation .step_3::before {
  content: "3";
  position: absolute;
  height: 20px;
  width: 20px;
  left: -3px;
  color: white;
  border-radius: 2em;
  background-color: #9356dc;
}

.menu_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 250px;
  border: solid #1d1c1c 2px;
  border-radius: 1em;
  -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
          box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
  margin-bottom: 50px;
  position: relative;
  background: white;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: background-color 800ms ease-in-out, -webkit-transform 1s;
  transition: background-color 800ms ease-in-out, -webkit-transform 1s;
  transition: transform 1s, background-color 800ms ease-in-out;
  transition: transform 1s, background-color 800ms ease-in-out, -webkit-transform 1s;
  -webkit-transition-delay: 0, 150ms;
          transition-delay: 0, 150ms;
}

.menu_card a {
  width: auto;
  height: auto;
  text-decoration: none;
  color: black;
  position: relative;
}

.menu_card a img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em 1em 0em 0em;
}

.menu_card a h3 {
  margin: 10px 10px;
}

.menu_card a p {
  margin: 10px 10px;
}

.menu_card a button {
  background-color: #99e2d0;
  border: transparent;
  position: absolute;
  top: 15px;
  right: 5px;
  padding: 3px 6px;
  font-weight: 600;
  color: #2a6be6;
  border-radius: 0.3em;
}

.menu_card a .far {
  position: absolute;
  bottom: 15px;
  right: 25px;
  font-size: 2em;
}

.menu_card a .fas {
  position: absolute;
  color: #9356dc;
  bottom: 15px;
  right: 25px;
  font-size: 2em;
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 1s, -webkit-transform 400ms;
  transition: color 1s, -webkit-transform 400ms;
  transition: transform 400ms, color 1s;
  transition: transform 400ms, color 1s, -webkit-transform 400ms;
}

.menu_card a .fas:hover {
  opacity: 1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.menu_card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.menu_card .far {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.menu_card .far:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.Restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: whitesmoke;
  padding-top: 20px;
}

.resto {
  margin: 20px 30px;
  font-size: 1.9em;
  background: whitesmoke;
  padding-top: 20px;
}

section {
  background: whitesmoke;
}

footer {
  height: 200px;
  background: #49464f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h1 {
  color: honeydew;
  font-weight: 800;
  margin: 0.8em 0.8em;
}

footer li {
  margin: 0.7em 0.8em;
  font-size: 1.1em;
}

footer li a {
  text-decoration: none;
  color: honeydew;
}

footer li a .fas {
  margin-right: 5px;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu a .fas {
  position: absolute;
  font-size: 1.5em;
  top: 25px;
  left: 20px;
  color: black;
}

.banner img {
  width: 100%;
  height: 300px;
  border-top: 6px black solid;
}

.header_title {
  margin: 20px 10px;
}

.select_menu {
  margin-top: -5rem;
  padding-top: 0.8em;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
}

.select_menu h2 {
  margin: 1em 1em;
}

.select_menu .far {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 2em;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.select_menu .far:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.select_menu .fas {
  position: absolute;
  top: 40px;
  right: 29px;
  color: #9356dc;
  font-size: 2em;
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.select_menu .fas:hover {
  opacity: 1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.select_menu button {
  background: white;
}

.menu_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 700px;
  margin-bottom: 20px;
}

.menu_part h4 {
  color: grey;
}

.menu_part .btn-delay0 {
  -webkit-animation: menu-slide-down 500ms;
          animation: menu-slide-down 500ms;
  -webkit-animation-delay: 00ms;
          animation-delay: 00ms;
}

.menu_part .btn-delay1 {
  -webkit-animation: menu-slide-down 500ms;
          animation: menu-slide-down 500ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.menu_part .btn-delay2 {
  -webkit-animation: menu-slide-down 500ms;
          animation: menu-slide-down 500ms;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menu_part button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 70px;
  border-radius: 1em;
  font-size: 1.2em;
  border: transparent;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
          box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
  margin-top: 15px;
}

.menu_part button .menuItem-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-left: 8px;
}

.menu_part button .title_meal {
  margin: 5px 5px 5px 2px;
  font-weight: 700;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: start;
  line-height: 1;
}

.menu_part button .meal_desc {
  font-size: 13px;
  margin: 5px 0px 5px 0;
  text-align: start;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  color: grey;
}

.menu_part button .price {
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  justify-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-self: flex-end;
  font-weight: 700;
  background: white;
}

.menu_part button .confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 80px;
  position: absolute;
  top: 0;
  right: -80px;
  background-color: #99e2d0;
}

.menu_part button .confirmation .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  top: 20px;
  right: 30px;
  color: white;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 600ms ease;
  transition: -webkit-transform 600ms ease;
  transition: transform 600ms ease;
  transition: transform 600ms ease, -webkit-transform 600ms ease;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  font-size: 1.5em;
}

.menu_part button .confirmation .fa-check-circle {
  width: 30px;
  height: 30px;
}

.menu_part button:hover .menuItem-header {
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu_part button:hover .price {
  -webkit-transform: translate(-250%);
          transform: translate(-250%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.menu_part button:hover .confirmation {
  height: 70px;
  display: block;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.menu_part button:hover .confirmation .check {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.menu_part button:hover .confirmation .fas {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.order_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.order_btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 60px;
  border-radius: 1.6em;
  border: transparent;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  background-image: linear-gradient(60deg, #9356dc, #ff79da);
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  color: whitesmoke;
  font-size: 1.3em;
  -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
          box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
}

.order_btn button:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 6px 6px 6px 6px rgba 32, 32, 32, 0.2;
          box-shadow: 6px 6px 6px 6px rgba 32, 32, 32, 0.2;
}

footer {
  height: 200px;
  background: #49464f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h1 {
  color: whitesmoke;
  font-weight: 800;
  margin: 0.8em 0.8em;
}

footer li {
  margin: 0.7em 0.8em;
  font-size: 1.1em;
}

footer li a {
  text-decoration: none;
  color: honeydew;
}

footer li a .fas {
  margin-right: 5px;
}

@media screen and (min-width: 850px) and (max-width: 1100px) {
  .menu_card {
    height: 400px;
    margin-top: 30px;
  }
  .menu_card a img {
    height: 300px;
  }
  .banner img {
    height: 400px;
  }
  .menu_part button {
    max-width: 600px;
  }
}

@media screen and (min-width: 1100px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 100px 50px 5fr;
        grid-template-rows: 100px 50px 5fr;
    grid-column-gap: 5px;
  }
  header .logo {
    width: 50%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  header .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    height: 20px;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-left: 20px;
    -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
            box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
  }
  header .presentation {
    width: 80%;
    -ms-grid-row: 3;
    grid-row: 3;
    margin-left: 20px;
    -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
            box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
  }
  header .operation {
    width: 80%;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / span 3;
  }
  header .operation h2 {
    margin: 0 10px 10px;
  }
  .menu_card {
    height: 400px;
    margin-top: 30px;
    width: 40%;
  }
  .menu_card a img {
    height: 300px;
    width: 100%;
  }
  .Restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .banner img {
    height: 700px;
  }
  .select_menu_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 700px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .select_menu_card .menu_part {
    width: 30%;
    height: 70%;
    border: 0.6em double #9356dc;
    border-radius: 1.5em;
  }
  .order_btn button {
    max-width: 400px;
  }
}
/*# sourceMappingURL=main.css.map */