@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p,
h2,
h3,
h4,
button,
.price,
.meal_desc,
.title_meal {
  font-family: "Roboto", sans-serif;
}

h1,
h5 {
  font-family: "Shrikhand", sans-serif;
}

body {
  margin: auto;
  max-width: 1900px;
}

h1 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
  padding-left: 10px;
}

h4::after {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #99e2d0;
}

h5 {
  font-size: 1.6em;
}

p {
  font-size: 1em;
}

@-webkit-keyframes checked-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes checked-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes menu-slide-down {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes menu-slide-down {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spinner {
  0% {
    opacity: 1;
    z-index: 20;
    overflow: hidden;
  }
  55% {
    opacity: 1;
  }
  70% {
  }
  100% {
    opacity: 0;
    z-index: -10;
    overflow: visible;
  }
}

@keyframes spinner {
  0% {
    opacity: 1;
    z-index: 20;
    overflow: hidden;
  }
  55% {
    opacity: 1;
  }
  70% {
  }
  100% {
    opacity: 0;
    z-index: -10;
    overflow: visible;
  }
}

@-webkit-keyframes loading-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  position: relative;
  margin: auto;
}

body .loader {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-animation: spinner 4500ms ease-in-out;
          animation: spinner 4500ms ease-in-out;
  opacity: 0;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

body .loader .loader-animation {
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 10px solid #f7f7f7;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: loading-rotate 3s linear infinite;
          animation: loading-rotate 3s linear infinite;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
}

.titre h1 {
  font-weight: 800;
  font-size: 2em;
  z-index: 3;
  margin: auto;
  padding: 20px 0;
  max-width: 500px;
}

.location {
  background: #ededed;
  -webkit-box-shadow: inset 1px 1px 3px 5px #dddddd;
          box-shadow: inset 1px 1px 3px 5px #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.location .fas {
  padding: 0 12px;
}

.location p {
  font-size: 1.2em;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 290px;
  background: #f7f7f7;
}

.presentation .catchword {
  height: 70px;
  font-size: 1.3em;
  text-align: center;
  padding-top: 40px;
  font-weight: 900;
}

.presentation .catchword_description {
  font-size: 1em;
  font-weight: 100;
  padding-bottom: 30px;
  text-align: center;
}

.presentation button {
  background-image: linear-gradient(60deg, #9356dc, #ff79da);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
  width: 60%;
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 1.5em;
  color: whitesmoke;
  border: transparent;
  font-size: 16px;
  -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
          box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
}

.operation {
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
}

.operation h2 {
  font-size: 1.8em;
  margin: 25px;
}

.operation .order_operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.operation .order_operation button {
  width: 80%;
  height: 60px;
  border-radius: 1.5em;
  border: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 50px;
  font-size: 1em;
  -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
          box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
  position: relative;
}

.operation .order_operation button .fas {
  padding: 0 10px;
}

.operation .order_operation .step_1::before {
  content: "1";
  font-size: 17px;
  position: absolute;
  height: 20px;
  width: 20px;
  left: -3px;
  color: white;
  border-radius: 2em;
  background-color: #9356dc;
}

.operation .order_operation .step_2::before {
  content: "2";
  font-size: 17px;
  position: absolute;
  height: 20px;
  width: 20px;
  left: -3px;
  color: white;
  border-radius: 2em;
  background-color: #9356dc;
}

.operation .order_operation .step_3::before {
  content: "3";
  font-size: 17px;
  position: absolute;
  height: 20px;
  width: 20px;
  left: -3px;
  color: white;
  border-radius: 2em;
  background-color: #9356dc;
}

section {
  background: whitesmoke;
}

.menu_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 250px;
  border: solid #1d1c1c 2px;
  border-radius: 1em;
  -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
          box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
  margin-bottom: 50px;
  position: relative;
  background: white;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: background-color 800ms ease-in-out, -webkit-transform 1s;
  transition: background-color 800ms ease-in-out, -webkit-transform 1s;
  transition: transform 1s, background-color 800ms ease-in-out;
  transition: transform 1s, background-color 800ms ease-in-out, -webkit-transform 1s;
  -webkit-transition-delay: 0ms, 150ms;
          transition-delay: 0ms, 150ms;
}

.menu_card a {
  width: auto;
  height: auto;
  text-decoration: none;
  color: black;
  position: relative;
}

.menu_card a img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em 1em 0em 0em;
}

.menu_card a h3 {
  margin: 10px 10px;
}

.menu_card a p {
  margin: 10px 10px;
}

.menu_card a .btn--new {
  background-color: #99e2d0;
  border: transparent;
  position: absolute;
  top: 15px;
  right: 5px;
  padding: 3px 6px;
  font-weight: 600;
  color: #2a6be6;
  border-radius: 0.3em;
}

.menu_card a .far {
  position: absolute;
  bottom: 15px;
  right: 25px;
  font-size: 2em;
}

.menu_card a .fas {
  position: absolute;
  color: #9356dc;
  bottom: 15px;
  right: 25px;
  font-size: 2em;
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 1s, -webkit-transform 400ms;
  transition: color 1s, -webkit-transform 400ms;
  transition: transform 400ms, color 1s;
  transition: transform 400ms, color 1s, -webkit-transform 400ms;
}

.menu_card a .fas:hover {
  opacity: 1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.menu_card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.menu_card .far {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.menu_card .far:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.Restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: whitesmoke;
  padding-top: 20px;
}

.resto {
  margin: 20px 30px;
  font-size: 1.9em;
  background: whitesmoke;
  padding-top: 20px;
}

footer {
  height: 200px;
  background: #49464f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h1 {
  color: honeydew;
  font-weight: 800;
  margin: 5px 10px 5px 10px;
}

footer li {
  margin: 0.4em 0.6em;
  font-size: 1.1em;
}

footer li a {
  text-decoration: none;
  color: honeydew;
}

footer li a .fas {
  margin-right: 5px;
  font-size: 14px;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu a .fas {
  position: absolute;
  font-size: 1.5em;
  top: 20px;
  left: 20px;
  color: black;
}

.banner img {
  width: 100%;
  height: 300px;
  border-top: 6px black solid;
}

.header_title {
  margin: 20px 10px;
  font-size: 1.3em;
}

.select_menu {
  margin-top: -5rem;
  padding-top: 0.8em;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
}

.select_menu h2 {
  margin: 1em 1em;
}

.select_menu .far {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.select_menu .far:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.select_menu .fas {
  position: absolute;
  top: 30px;
  right: 29px;
  color: #9356dc;
  font-size: 2em;
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.select_menu .fas:hover {
  opacity: 1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.menu_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 700px;
  margin-bottom: 20px;
}

.menu_part h4 {
  color: grey;
}

.menu_part .btn-delay0 {
  -webkit-animation: menu-slide-down 500ms;
          animation: menu-slide-down 500ms;
  -webkit-animation-delay: 00ms;
          animation-delay: 00ms;
}

.menu_part .btn-delay1 {
  -webkit-animation: menu-slide-down 500ms;
          animation: menu-slide-down 500ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.menu_part .btn-delay2 {
  -webkit-animation: menu-slide-down 500ms;
          animation: menu-slide-down 500ms;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menu_part .btn-delay0,
.menu_part .btn-delay1,
.menu_part .btn-delay2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 70px;
  border-radius: 1em;
  font-size: 1.2em;
  border: transparent;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
          box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
  margin-top: 15px;
  cursor: pointer;
  background: white;
}

.menu_part .btn-delay0 .menuItem-header,
.menu_part .btn-delay1 .menuItem-header,
.menu_part .btn-delay2 .menuItem-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-left: 8px;
}

.menu_part .btn-delay0 .title_meal,
.menu_part .btn-delay1 .title_meal,
.menu_part .btn-delay2 .title_meal {
  margin: 10px 5px 5px 2px;
  padding-left: 10px 0 0 0;
  font-weight: 700;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: start;
  line-height: 0.9;
  padding-right: 40px;
}

.menu_part .btn-delay0 .meal_desc,
.menu_part .btn-delay1 .meal_desc,
.menu_part .btn-delay2 .meal_desc {
  font-size: 13px;
  margin: 5px 0px 0px 0;
  text-align: start;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  color: grey;
  padding-right: 40px;
}

.menu_part .btn-delay0 .price,
.menu_part .btn-delay1 .price,
.menu_part .btn-delay2 .price {
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 100%;
  justify-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-self: flex-end;
  font-weight: 700;
  font-size: 0.7em;
  background: white;
}

.menu_part .btn-delay0 .confirmation,
.menu_part .btn-delay1 .confirmation,
.menu_part .btn-delay2 .confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 80px;
  position: absolute;
  top: 0;
  right: -80px;
  background-color: #99e2d0;
}

.menu_part .btn-delay0 .confirmation .fas,
.menu_part .btn-delay1 .confirmation .fas,
.menu_part .btn-delay2 .confirmation .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  top: 20px;
  right: 30px;
  color: white;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 600ms ease;
  transition: -webkit-transform 600ms ease;
  transition: transform 600ms ease;
  transition: transform 600ms ease, -webkit-transform 600ms ease;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  font-size: 1.2em;
}

.menu_part .btn-delay0 .confirmation .fa-check-circle,
.menu_part .btn-delay1 .confirmation .fa-check-circle,
.menu_part .btn-delay2 .confirmation .fa-check-circle {
  width: 30px;
  height: 30px;
}

.menu_part .btn-delay0:hover .menuItem-header,
.menu_part .btn-delay1:hover .menuItem-header,
.menu_part .btn-delay2:hover .menuItem-header {
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu_part .btn-delay0:hover .price,
.menu_part .btn-delay1:hover .price,
.menu_part .btn-delay2:hover .price {
  -webkit-transform: translate(-250%);
          transform: translate(-250%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.menu_part .btn-delay0:hover .confirmation,
.menu_part .btn-delay1:hover .confirmation,
.menu_part .btn-delay2:hover .confirmation {
  height: 70px;
  display: block;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.menu_part .btn-delay0:hover .confirmation .check,
.menu_part .btn-delay1:hover .confirmation .check,
.menu_part .btn-delay2:hover .confirmation .check {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.menu_part .btn-delay0:hover .confirmation .fas,
.menu_part .btn-delay1:hover .confirmation .fas,
.menu_part .btn-delay2:hover .confirmation .fas {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.order_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.order_btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 60px;
  border-radius: 1.6em;
  border: transparent;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  background-image: linear-gradient(60deg, #9356dc, #ff79da);
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  color: whitesmoke;
  font-size: 1.3em;
  -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
          box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
}

.order_btn button:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 6px 6px 6px 6px;
          box-shadow: 6px 6px 6px 6px;
}

footer {
  height: 200px;
  background: #49464f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h5 {
  color: whitesmoke;
  font-weight: 800;
  margin: 0.4em 0.8em;
}

footer li {
  margin: 0.5em 0.8em;
  font-size: 1em;
}

footer li a {
  text-decoration: none;
  color: honeydew;
}

footer li a .fas {
  margin-right: 5px;
}

@media screen and (min-width: 850px) and (max-width: 1100px) {
  .menu_card {
    height: 400px;
    margin-top: 30px;
  }
  .menu_card a img {
    height: 300px;
  }
  .banner img {
    height: 400px;
  }
  .menu_part {
    width: 100%;
  }
  .menu_part button {
    max-width: 600px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 1100px) {
  body {
    position: relative;
  }
  header .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 20px;
  }
  header .presentation {
    width: 100%;
    -webkit-box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
            box-shadow: 6px 6px 6px 2px rgba(12, 11, 11, 0.2);
  }
  header .presentation button {
    max-width: 400px;
  }
  header .operation {
    height: 250px;
    margin: 50px 50px 50px 50px;
  }
  header .operation .order_operation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .operation .order_operation button {
    width: 30%;
  }
  header .operation h2 {
    margin: 50px 0px 20px;
    padding-left: 50px;
    width: 80%;
  }
  .menu_card {
    height: 400px;
    margin-top: 30px;
    width: 40%;
  }
  .menu_card a img {
    height: 300px;
    width: 100%;
  }
  .Restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .banner img {
    height: 700px;
  }
  .select_menu_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 700px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .select_menu_card .menu_part {
    width: 30%;
    height: 70%;
    border: 0.6em double #9356dc;
    border-radius: 1.5em;
  }
  .order_btn button {
    max-width: 400px;
  }
}
/*# sourceMappingURL=main.css.map */