
body {
  position: relative;
  margin: auto;
  max-width: 1900px;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.3em;
  color: grey;
  padding-left: 10px;
}

// title underline
h4::after {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #99e2d0;
}
h5 {
  font-size: 1.6em;
}
p {
  font-size: 1em;
}
