body {
  margin: auto;
  max-width: 1400px;
}

h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
  padding-left: 10px;
}
h4::after {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background:  #99e2d0;
}
p {
  font-size: 1em;
}
.Restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: whitesmoke;
  padding-top: 20px;
}
.resto {
  margin: 20px 30px;
  font-size: 1.9em;
  background: whitesmoke;
  padding-top: 20px;
}
section {
  background: whitesmoke;
}
