@media screen and (min-width: 850px) and (max-width: 1100px) {
  .menu_card {
    height: 400px;
    margin-top: 30px;

    a {
      img {
        height: 300px;
      }
    }
  }

  // menu.scss
  .banner {
    img {
      height: 400px;
    }
  }
  .menu_part {
    button {
      max-width: 600px;
    }
  }
}

@media screen and (min-width: 1100px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 50px 5fr;
    grid-column-gap: 5px;
    .logo {
      width: 50%;
      grid-column: 1 / span 2;
    }
    .location {
      display: flex;
      width: 75%;
      height: 20px;
      grid-row: 2;
      margin-left: 20px;
      box-shadow: $box-shadow;
    }
    .presentation {
      width: 80%;
      grid-row: 3;
      margin-left: 20px;
      box-shadow: $box-shadow;
    }
    .operation {
      width: 80%;
      grid-column: 2;
      grid-row: 2 / span 3;
      h2 {
        margin: 0 10px 10px;
      }
    }
  }

  .menu_card {
    height: 400px;
    margin-top: 30px;
    width: 40%;

    a {
      img {
        height: 300px;
        width: 100%;
      }
    }
  }
  .Restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  // menu.scss
  .banner {
    img {
      height: 700px;
    }
  }
  .select_menu_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 700px;
    justify-content: space-around;
    .menu_part {
      width: 30%;
      height: 70%;
      border: 0.6em double $color-primary;
      border-radius: 1.5em;
    }
  }
  .order_btn {
    button {
      max-width: 400px;
    }
  }
}
