@mixin lighten-btn($color: $color-primary $color-secondary) {
  filter: brightness(110%);
  transform: scale(1.05);
  box-shadow: 6px 6px 6px 2px grey;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}